.spaSite {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.spaView {
    padding: 0px 10px;
}

/* Tabs*/
.spaTabControl {
    border-bottom: 1px solid #b2b2b2;
}
.spaControl .spaTab {
    display: inline-block;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: white
}

.spaControl .spaTab:hover {
    background: aliceblue;
    border-color: #b2b2b2;
}

.spaControl .spaTab.selected {
    cursor: text;
    color: #555555;
    background: #d3d3d3;
    border-color: #b2b2b2;
}

/* Breadcrumbs */
.spaBreadcrumbControl {
    padding-bottom: 3px;
    border-bottom: 1px solid #b2b2b2;
}
.spaCrumb {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 2px 7px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.spaCrumb:hover {
    border-color: #b2b2b2;
    background: aliceblue;
}

.spaCrumb.selected {
    cursor: default;
    color: #555555;
}

.spaCrumb.selected:hover {
    border-color: transparent;
    background: white;
}

.spaCrumbSeparator {
    position: relative;
    text-align: center;
    height: 16px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px;
}

.spaCrumbSeparator:before {
    content: '';
    position: absolute;
    top: 0;
    left: 5;
    height: 8px;
    width: 4px;
    background: #d3d3d3;
    -webkit-transform: skew(45deg, 0deg);
    -moz-transform: skew(45deg, 0deg);
    -ms-transform: skew(45deg, 0deg);
    -o-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
}
.spaCrumbSeparator:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5;
    height: 8px;
    width: 4px;
    background: #d3d3d3;
    -webkit-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

/* Fullscreen */
.spaFullscreen .spaControl {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}

.spaFullscreen .spaView {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


.viewMap .inline {
	display: inline-block;
}

.viewMap .breadCrumbs .view {
	text-decoration: underline;
	cursor: default;
}
.viewMap .breadCrumbs .view.current {
	text-decoration: none;
}
.viewMap .breadCrumbs .separator {
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.viewMap.fullscreen {
	height: 100%;
}