html {
    height: 100%;
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    background: lightgoldenrodyellow;
}
.spaSite {
    background: white;
}
.spaSite .spaControl {
    top: 70px;
}
.spaSite .spaView {
    top: 98px;
}